# Aide
HELP.md

# Build (Maven / Gradle)
target/
build/
*.log
*.tmp

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Exceptions inutiles à commenter ou supprimer si pas utiles
#!**/src/main/**/target/
#!**/src/test/**/target/
#!**/src/main/**/build/
#!**/src/test/**/build/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Fichiers sensibles (facultatif)
.env
src/main/resources/application.properties
